html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: left;
  line-height: 2vh;
  font-weight: 400;
}


a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}


h1, h2, h3, h4, h5 {
  font-family: "Muli", sans-serif;
  color: white;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: white;
  margin-bottom: 13px;
  font-family: "Muli", sans-serif;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


h3 {
  font-size: 24px;
}

.white-bg {
  background: #ffffff;
}

.section_title span {
  position: relative;
  z-index: 3;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #001D38;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: block;
  padding-top: 14px;
}

.section_title span:before {
  position: absolute;
  height: 60px;
  width: 1px;
  background: #615CFD;
  content: '';
  left: 50%;
  bottom: 100%;
}

.section_title h3 {
  font-size: 50px;
  line-height: 62px;
  font-weight: 700;
  color: #001D38;
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .section_title h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section_title h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  .section_title h3 br {
    display: none;
  }
}

.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  .section_title p br {
    display: none;
  }
}

.section_title.white_text h3 {
  color: #fff;
}

.section_title.white_text span {
  color: #fff;
  padding-top: 0;
}

.section_title.white_text span:before {
  display: none;
}

.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .mb-50 {
    margin-bottom: 40px;
  }
}

/* ABOUT */

.about_me {
  padding-top: 75px;
  position: relative;
}

@media (max-width: 767px) {
  .about_me {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.about_me .about_large_title {
  font-weight: 800;
  color: #F5F6F7;
  font-size: 220px;
  position: absolute;
  left: 18%;
  top: 0;
  margin-top: -3%;
  line-height: 1;
}

@media (max-width: 767px) {
  .about_me .about_e_details {
    margin-bottom: 30px;
    margin-top: 50px;
    padding-top: 50px;
  }
}

.about_me .about_e_details h3 {
  font-size: 47px;
  font-weight: 700;
  color: #001D38;
}

.about_me .about_e_details p {
  font-size: 15px;
  font-weight: 400;
  color: #727272;
  margin-top: 20px;
  margin-bottom: 36px;
}

.about_me .about_img {
  position: relative;
}

.about_me .about_img .color_pattern {
  position: absolute;
  right: -80px;
  top: -123px;
  z-index: -1;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .about_me .about_img .color_pattern {
    right: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .about_me .about_img .color_pattern {
    right: 0;
  }
}

.about_me .about_img img {
  width: 100%;
}

.project_area {
  padding-bottom: 150px;
}

@media (max-width: 767px) {
  .project_area {
    padding-bottom: 50px;
  }
}

.portfolio_area {  
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 180px;
  padding-bottom: 340px;
}

@media (max-width: 767px) {
  .portfolio_area {
    padding-top: 60px;
  }
}

.portfolio_area:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #001D38;
  content: '';
}

.portfolio_image_area {
  padding-bottom: 75px;
  position: relative;
  margin-top: -295px;
}

.portfolio_image_area.dec_margin {
  margin-top: 0;
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (max-width: 767px) {
  .portfolio_image_area.dec_margin {
    padding: 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .portfolio_image_area.dec_margin {
    padding: 70px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .portfolio_image_area.dec_margin {
    padding: 100px 0;
  }
}

.portfolio_image_area .single_Portfolio {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.portfolio_image_area .single_Portfolio .portfolio_thumb {
  height: 410px;

}

.portfolio_image_area .single_Portfolio .portfolio_thumb img {
  height: 100%;
  object-fit: cover;
}

.portfolio_image_area .single_Portfolio .portfolio_hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(97, 92, 253, 0.6);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
}

.portfolio_image_area .single_Portfolio .portfolio_hover .title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.portfolio_image_area .single_Portfolio .portfolio_hover h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.portfolio_image_area .single_Portfolio:hover .portfolio_hover {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}

.portfolio_image_area .more_portfolio {
  margin-top: 60px;
}

.portfolio_image_area .popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0;
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

b,
sup,
sub,
u,
del {
  color: #ff5e13;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}


/************* INTRO *************/

#intro {
  
  height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#intro-about {
  height: auto;
  width: 100vw;
  max-height: none;
}

#flex-intro {
  width: 100%;
  justify-content: center;
  align-items: center;
}

#flex-intro-about {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

#position-text {
  clear: both;
  position: relative;
  flex-flow: column;
}

h1 {
  font-family: "Chonburi", cursive;
  line-height: 60px;
  font-size: 50px;
}

h2 {
  line-height: 26px;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 300;
  text-align: center;
}

.intro-text {
  line-height: 30px;
  font-size: 15px;
  font-family: lato, sans-serif;
  font-weight: 400;
  margin: 0% 20vw 0% 20vw;
}

h3 {
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 15px;
  line-height: 14px;
  font-weight: 800;
  margin-top: 2.5rem;
}

a {
  outline: none;
  color: #3498db;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #528cb3;
}

button {
  background: white;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 4vh;
  width: auto;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-color: #b8daeb;
  color: darkblue;
  border-radius: 5rem;
}

button:hover {
  transition: 0.35s;
  border-color: #b8daeb;
  background: #b8daeb;
  color: white;

}

/************* MANCHAS *************/

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-between {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(10px);
  }
  100% {
    transform: translatey(-0px);
  }
}

#stain-container {
  float: left;
  height: 10px;
  position: relative;
}

/*General manchas*/

.stain {
  transform: translatey(0px);
  position: absolute;
  margin: 0%;
}

img {
  width: 100%;
}

/*MANCHAS*/

#up-green-stain {
  float: left;
  width: 110vh;
  top: -81vh;
  left: -35vh;
  animation: float-between 3s ease-in-out infinite;
}


#down-green-stain {
  float: right;
  width: 125vh;
  top: 40vh;
  left: 130vh;
  animation: float 5s ease-in-out infinite;
}



#up-pink-stain {
  width: 97vh;
  float: right;
  top: -70vh;
  right: -196vh; 
  animation: float-between 4s ease-in-out infinite;
}

#down-purple-stain {
  float: left;
  width: 100vh;
  top: 45vh;
  left: -41vh;
  animation: float 5s ease-in-out infinite;
}

/***Círculos***/

#circle1{
  position: absolute;
  top: -40vh;
  left: -17vh;
}

#circle2{
  position: absolute;
  top: -51vh;
  left: 67vh;
}

#circle3{
  position: absolute;
  top: -20vh;
  right: -210vh
}

#circle4{
  position: absolute;
  top: 55vh;
  right: -200vh
}

#circle5{
  position: absolute;
  top:25vh;
  left: -15vh;
}

#circle6{
  position: absolute;
  top:-30vh;
  left: 50vh;
}

svg {
  transform-origin: 50% 50%;
  animation: move 24s ease-in-out infinite;
}

@keyframes move {
  0%   { transform: scale(1)   ;   }
  25%  { transform: scale(0.9) ;   }
  50%  { transform: scale(0.8);  }
  75%  { transform: scale(0.9) ;  }
  100% { transform: scale(1)   ;  }
}



/***ARROWS***/

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
  stroke: whitesmoke;
  opacity: 0.2;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}


.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}






/************* PORTFOLIO *************/

#portfolio {
  padding-top: 5%;
}


/************* TIMELINE *************/

/************* SKILLS *************/

#skills {
  display: flex;
  justify-content: center;
}

#skills img {
  width: 8vh;
  height: 8vh;
  filter: grayscale(100%);
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

#skills img:hover {
  filter: grayscale(30%);
}




/************* CONTACT *************/

#footer-aboutme {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #001D38;
}

#footer-aboutme p{
  color: white;
}
#footer-aboutme button{
  padding-bottom: auto;
}

#footer-aboutme a{
display: inline-block;
}