html,
body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
    line-height: 2vh;
	font-weight: 400;	
}

/**** NAV ****/

a:hover{
	text-decoration: none;
}

nav{
	box-shadow: 0 3px 3px rgba(33,33,33,.1);
	max-width: 100vw;	
}
.nav-direction{
	float: right;
	width: 10vw;
	margin-top:3vh;
	min-height: 4vh;
	margin-left: 8%;
	color: #3C3C3C;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1rem;
    line-height: 14px;
    font-weight: 700;
}

.nav-direction:hover{
	border-style: solid;
    border-color: #F3A6AF;
    opacity: 1;
	border-width: 0px 0px 5px;
	transition: 0.2s;
}

nav img {
	max-width: 3rem;
}

.nav-direction a.active {
	background-color: dodgerblue;
	color: white;
  }
  


/**** Intro ****/

#intro{
	background-color: rgba(120,216,218,0.9);
	height: 85vh;
	max-height: 100vh;
	justify-content: center;
	align-items: center
}

h1{
	font-family: 'Poppins', sans-serif;
	line-height: 60px;
    font-size: 55px;
}

h2{
	line-height: 26px;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 300;
}

p{
	line-height: 30px;
    font-size: 16px;
    font-family: lato, sans-serif;
    font-weight: 300;
	
}

h3{
	text-align: center;
	text-align: center;
    letter-spacing: 2.5px;
    font-size: 15px;
    line-height: 14px;
	font-weight: 800;
	margin-top: 2.5rem;
}


a {
	outline: none;
	color: #3498db;
	text-decoration: none;
}

a:hover, a:focus {
	color: #528cb3;
}

button{
	background: transparent;
	padding-left: 3vw;
	padding-right: 3vw;
	height: 7vh;
	width: auto;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	color: black;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 3px;
	text-transform: uppercase;
	border-radius: 1px;
	border-width: 3px;
	border-color: #000000;
}

button:hover{
  transition: 0.35s;
  border-color: white;
  color: white;
}




/**** Portfolio ****/

figure {
	float: left;
	overflow: hidden;
	margin: 10px 1%;

	height: auto;
	text-align: center;
	cursor: pointer;
	padding-left: 0%!important;
	width:35%; 
	overflow:hidden;
	height:300px; 
	padding-right: 0% !important;

}


figure img {
	height:100%; 
	width: 100%;
	  object-fit:cover; 

}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
}

figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h2 span {
	font-weight: 800;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}









.project{
    padding: 0%;
}



figure.effect-julia {
	background: #2f3238;
	max-width: 400px;

}

figure.effect-julia img {
	
	transition: opacity 1s, transform 1s;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
}

figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 0.9em;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 70%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
	line-height: 16px;
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/**** Skills ****/

#skills{
	
		background-color: rgba(120,216,218,0.9);
		justify-content: center;
		align-items: center;
}

#skills img{
	width: 5vw;
	height: auto;
	filter: grayscale(100%);

}

#skills img:hover{
	filter: grayscale(30%);

}